<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ng-repeat and filtering</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="../assets/foundation.css">
  </head>
  <body>
    <style>
      body {
        font-family: helvetica neue;
        font-size: 13px;
        font-weight: lighter;
      }

      #avengers-data {
        border: 1px solid #d3d6e2;
        border-radius: 3px;
        padding: 10px;
        background-color: #f9f9f9;
        letter-spacing: 1px;
      }

      td {
        padding: 4px;
      }
    </style>

    <!-- ng app -->
    <div ng-app="myApp" id="ng-app">

      <div ng-controller="AvengersCtrl">
        <input type="text" ng-model="search.$">
        <table id="avengers-data">
          <tr ng-repeat="actor in avengers.cast | filter:search">
            <td>{{ actor.name }}</td>
            <td>{{ actor.character }}</td>
          </tr>
        </table>
      </div>

    </div>

    <!-- ng src -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js">
    </script>

    <!-- app logic -->
    <script type="text/javascript" src="index.js">
    </script>
  </body>
</html>
